body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display-container {
    width: 50%;
    height: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}

.results-display {
    width: 50%;
    height: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

